In [1]:
# Question 1

In [ ]:
S = [['him', 'sell'], [90, 28, 43]]

In [2]:
S[0][1][1]

'e'

In [ ]:
# Question 2

In [58]:
import pandas as pd
import numpy as np

In [55]:
df = pd.read_csv("FoodBalanceSheets_E_Africa_NOFLAG.csv", encoding="latin-1")
df.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [39]:
df.isnull().sum()

Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014           1589
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64

In [40]:
df.isnull().sum()["Y2014"] / df.shape[0]

0.026073544131401474

In [41]:
# Quesiton 3

In [42]:
array  = np.array([[94, 89, 63],

             [93, 92, 48],

             [92, 94, 56]])
array

array([[94, 89, 63],
       [93, 92, 48],
       [92, 94, 56]])

In [43]:
array[:2, 1:]

array([[89, 63],
       [92, 48]])

In [44]:
# Question 4

In [45]:
# 3 Features and 100 observations

In [46]:
# Question 5

In [47]:
df[ df["Area"]=="Madagascar"]

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
30715,129,Madagascar,2501,Population,511,Total Population - Both sexes,1000 persons,23590.00,24234.00,24894.00,25571.00,26262.00
30716,129,Madagascar,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
30717,129,Madagascar,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,1986.00,1922.00,1918.00,1943.00,1938.00
30718,129,Madagascar,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,44.45,43.26,43.35,43.94,44.17
30719,129,Madagascar,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,22.18,22.97,23.83,25.26,24.12
...,...,...,...,...,...,...,...,...,...,...,...,...
32149,129,Madagascar,2899,Miscellaneous,5142,Food,1000 tonnes,10.00,11.00,11.00,11.00,12.00
32150,129,Madagascar,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,0.44,0.44,0.44,0.44,0.44
32151,129,Madagascar,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,0.00,0.00,0.00,0.00,0.00
32152,129,Madagascar,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.01,0.01,0.01,0.01,0.01
32153,129,Madagascar,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.01,0.01,0.01,0.01,0.01

In [48]:
df[ (df["Area"]=="Madagascar") &  (df["Element"] == "Protein supply quantity (g/capita/day)") ].loc[:,"Y2015"].sum()

173.04999999999998

In [49]:
# Question 6

In [50]:
sum_per_area_2017 = df[ ["Area","Y2017"] ].groupby("Area", as_index=False).sum().sort_values("Y2017").reset_index()
sum_per_area_2017.head(10)

   index                   Area     Y2017
0     42         Sudan (former)      0.00
1     16           Ethiopia PDR      0.00
2      9                Comoros     59.84
3     38             Seychelles    442.34
4     36  Sao Tome and Principe  12662.63
5      5             Cabo Verde  14650.74
6     21          Guinea-Bissau  19102.77
7     23                Lesotho  21267.96
8      3               Botswana  22101.30
9     12               Djibouti  22729.91

In [51]:
sum_per_area_2017.iloc[6,:]

index               21
Area     Guinea-Bissau
Y2017         19102.77
Name: 6, dtype: object

In [52]:
# Question 7

In [24]:
df["Area"].nunique()

49

In [25]:
# Question 8

In [53]:
df.groupby("Element", as_index=False).sum().var()

TypeError: could not convert string to float: 'Domestic supply quantity'

In [22]:
df["Y2017"].describe()

count     59437.000000
mean        140.917765
std        1671.862359
min       -1582.000000
25%           0.000000
50%           0.100000
75%           9.000000
max      190873.000000
Name: Y2017, dtype: float64

In [ ]:
# Question 9

In [27]:
lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]

In [29]:
col = ["Age","Nationality","Overall"]

In [30]:
pd.DataFrame(lst, columns=col, index=[i for i in range(1,4)])

   Age Nationality  Overall
1   35    Portugal       94
2   33   Argentina       93
3   30      Brazil       92

In [ ]:
# Question 10

In [31]:
df.shape

(60943, 12)

In [ ]:
# Question 11

In [33]:
my_tuppy = (1,2,5,8)

In [34]:
my_tuppy[2] = 6

TypeError: 'tuple' object does not support item assignment

In [ ]:
# Question 12

In [62]:
corr_df = df.corr()

ValueError: could not convert string to float: 'Algeria'

In [63]:
corr_df.loc["Element Code", "Y2014":]

NameError: name 'corr_df' is not defined

In [64]:
corr_df.loc["Element Code", "Y2014":].min()

NameError: name 'corr_df' is not defined

In [ ]:
# Question 13

In [65]:
sum_y2017_df = df[ ["Element","Y2017"] ].groupby(["Element"], as_index=False).sum()

In [67]:
sum_y2017_df[ sum_y2017_df["Element"]=="Processing" ].loc[:,"Y2017"].sum()

292836.0

In [ ]:
# Question 14

In [68]:
df.iloc[:].head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [ ]:
# Question 15

In [70]:
sum_2015_item = df[ ["Item","Y2015","Y2018"] ].groupby("Item", as_index=False).sum()

In [71]:
sum_2015_item[ sum_2015_item["Item"]=="Wine" ]

     Item    Y2015    Y2018
117  Wine  4251.81  4039.32

In [ ]:
# Question 18

In [72]:
df["Y2017"].describe()

count     59437.000000
mean        140.917765
std        1671.862359
min       -1582.000000
25%           0.000000
50%           0.100000
75%           9.000000
max      190873.000000
Name: Y2017, dtype: float64

In [ ]:
# Question 19

In [74]:
y = [(2, 4), (7, 8), (1, 5, 9)]

In [76]:
x = y[1][1]
x

8

In [ ]:
# Question 20

In [77]:
sum_byarea_2017 = df[ ["Area","Y2017"] ].groupby("Area", as_index=False).sum() \
                                            .sort_values("Y2017", ascending=False) \
                                            .reset_index()
sum_byarea_2017.head()

   index          Area       Y2017
0     34       Nigeria  1483268.23
1     13         Egypt   866379.92
2     40  South Africa   517590.54
3     15      Ethiopia   448683.76
4     30       Morocco   388495.36